<!-- Begin socials navigation -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
  
  {% include navigation.html %}

  <div class="jumbotron">
    <div class="animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
      <h1>Japan SciCom Forum Socials</h1>
      <p><img src="/img/sections-background/scicomlogo.png"></p>
      <h3>Next JSF Social</h3>
      <p class="lead">Hybrid and online events</p>
      <h6>Online, Thursday 7 pm (JST), May 19, 2022</h6>
      <p class="lead">Heather Doran:<br>Moving to hybrid, lessons from the early days of live streaming.</p>
      <p class="lead">Raymond Kunikane Terhune:<br>Online, hybrid, and in person: Presentations in the time of covid. The chaos still remains.</p>
      <p class="lead"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc5Ro7eVUVFi1n8CWTjmeA2lbECRd9DrdPk_xQIjkAsxQQXhw/viewform">Register here</a></p>
    </div>
  </div>
  
</section>
<!-- End socials navigation -->
