<!-- Begin Latest News Section -->

<section id="latest-news" class="latest-news">
  <div class="content-wrapper">
    <a name="schedule"></a>

    <div class="col-lg-10 col-lg-offset-1">
      <h3>About JSF socials</h3>
      <article class="row">
        <div class="post col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center animated hiding" data-animation="fadeInDown" data-delay="500">
          <p class="post-body">JSF Socials are regular informal meetings to support the goals of JSF throughout the year, in particular to build community among public relations staff working in English in Japanese universities and other institutions.</p>
        </div>
      </article>
    </div>
    
  </div>
</section>

<!-- End Latest News Section -->
